@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


html {
  font-size: 100%;
  box-sizing: border-box;
}
*,
*::after,
*::after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  margin: 0;
  padding: 4rem 5rem;
}